.category{
    width: 90%;
    height: 19%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.category__link{
    display: block;
    width: 20%;
    height: 100%;
    background-color: white;
    border: 2px solid #B8BEBF;
    border-radius: 20px;
}
.category__link h1{
    text-align: center;
    margin-bottom: 14px;
}
