.delivery{
    width: 100%;
    height: 12%;
    background-color: #DEF7FF;
    margin-top: 100px;
    display: flex;
}
.delivery__info{
    width: 77%;
    height: 100%;
    text-align: center;
}
.delivery__info__item{
    width: 50%;
    height: 20%;
    margin-top: 7px;
    display: flex;
    align-items: center;
}