.discounts{
    width: 80%;
    height: 22%;
    margin-top: 100px;
}
.discounts__container{
    width: 100%;
    height: 100%;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.discounts__item{
    width: 19%;
    height: 100%;
}
.discounts__img{
    margin: auto;
}
.discounts__old-price{
    font-size: 20px;
}

