.footer{
    width: 100%;
    height: 200px;
    background-color: #4F5759;
}
.footer__container{
    height: 100%;
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
}
.footer__contacts{
    padding-left: 10px;
    height: 100%;
    width: 30%;
}
.footer__social-links{
    height: 100%;
    width: 30%;
    padding-right: 20px;
}
.footer a{
    text-align: right;
}
.footer p{
    margin-top: 10px;
    color:#F2F2F2;
}