.header{
    width: 100%;
    height: 140px;
    background-color: #1F3740;
}
.header__container{
    height: 100%;
    width: 100%;
    max-width: 1800px;
    display: flex;
    justify-content: space-around;
}
.header__nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
}
.header__nav__link{
    width: 20%;
    height: 100%;
    background-color: #4F5759;
    display: block;
    border: 1px solid black;
}
.header__nav__link a{
    text-align: center;
    display: flex;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-stretch: expanded;
}
.header__cart{
    width: 8%;
    height: 100%;
}
.header__nav__link:hover{
    background-color: #6e787a;
    transition: all ease-in-out .5s;
}
.header__nav__link:not(:hover){
    background-color: #4F5759;
    transition: all ease-in-out .5s;
}