*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }

 .background{
    width:100vw;
    height:100vh;
    background-color:#F2F2F2;
    margin: auto;
    display: block;
 }
.header{
    width: 100%;
    height: 130px;
    background-color: #4F5759;
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 5px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin-left: 30px;
}
.logo_size_s{
    width: 110px;
    height: 110px;
}
.logo_size_m {
    width: 150px;
    height: 150px;
}
.logo__image{
    width: 80%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
    position: inherit;
}
.logo__company-name{
    height: 20%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: inherit;
}
.header__nav{
    width: 70%;
    height: 130px;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    font-family: Nunito;
    font-weight: 40px;
}
.header__nav__link{
    width: 20%;
    height: 100%;
    background-color: #818A8C;
    display: block;
    text-align: center;
}
.header__cart{
    width: 10%;
    height: 130px;
    background-color: black;
}