*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
 }
 /*::-webkit-scrollbar{
     width: 0;
 }*/
 body {
    background-color: #F2F2F2;
 }
 h1{
    font-family: Oswald;
    font-size: 32px;
    color: #1F3740;
 }
 h2{
    font-family: Oswald;
    font-size: 24px;
    color: #1F3740;
 }
 img{
     display: block;
 }
 p{
     font-family: Sourse Sans Pro;
     font-size: 20px;
     color:#1F3740;
 }
 span{
    font-family: Sourse Sans Pro;
    font-size: 20px;
    color:#818A8C;
 }
a{
    text-decoration: none;
}
.center-element{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-block{
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1800px;
    height: 1700px;
    min-width: 1200px;
    display: block;
    justify-content: center;
    margin: auto;
}

